.services
{
    display: flex;
    height: 286px;
    width: 100vw;
}

.services__sale-car
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4vw;
    background-color: #8ED74F;
    padding-right: 7vw;
    overflow: hidden;
}

.services__loan-by-pts
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8vw;
    overflow: hidden;
    background-color: #27242D;
    padding-left: 7vw;
}

.services__loan-by-pts-icon-wrapper
{
    display: flex;
    align-items: end;
    height: 100%;
}

@media (max-width: 1023px) 
{
    .services
    {
        height: 572px;
        flex-direction: column;
    }
    
    .services__sale-car
    {
        padding-right: 0;
        gap: 7vw;
        justify-content: center;
    }

    .services__loan-by-pts
    {
        padding-left: 0;
        justify-content: center;
    }
}

@media (max-width: 767px) /* TODO: 767px modify */
{
    .services
    {
        min-height: 412px;
        height: 55vw;
    }

    .services__sale-car
    {
        justify-content: flex-end;
        gap: 50px;
    }

    .services__sale-car-icon
    {
        height: 47%;
        min-height: 176px;

        width: 64%;
        min-width: 298px;

        padding-left: 20px;
    }

    .services__sale-car-action
    {
        padding-right: 45px;
    }

}